.container{
    width: 1070px;
    height: 500px;
    margin-left: 210px;
    margin-top: 75px;
    background-color: #fff;
    border-radius: 16px;

    .dados{
        display: flex;
        flex-direction: column;

        .container-principal{
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;

            .container-principal-top{
                border-bottom: 2px solid #000;
                height: 50px;
                h5{
                    padding-left: 50px;
                    height: 85%;
                    font-family: helvetica;
                    font-size: 18px;

                }

                .container-principal-top-pesquisa{
                    display: flex;
                    width: 800px;
                    gap: 22px;

                    input{
                        width: 125px;
                        height: 30px;
                        border-radius: 16px;
                        border-style:solid;
                    }

                    button{
                        background-color: transparent;
                        border-radius: 18px;
                    }

                }

            }

            .container-principal-main{
                height: 448px;
                border-radius: 16px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 50px;

                .container-principal-main-formulario{
                    display: flex;
                    flex-direction: row;
                    gap: 50px;

                    .container-principal-main-formulario-itens-readonly{
                        font-family: helvetica;

                        input{
                            width: 420px;
                            height: 56px;
                            background-color: #a8a8a8;
                            border-radius: 16px;
                            font-size: 20px;
                        }
                    }

                    .container-principal-main-formulario-itens{
                        font-family: helvetica;

                        input{
                            width: 420px;
                            height: 56px;
                            background-color: #EAEAEA;
                            border-radius: 16px;
                            font-size: 20px;
                        }

                        .container-principal-main-formulario-readonly{

                            input{
                                width: 420px;
                                height: 56px;
                                background-color: #a8a8a8;
                                border-radius: 16px;
                                font-size: 20px;
                            }

                            select:focus-within {
                                outline: none; /* Remova o contorno ao focar no label */
                                box-shadow: 0 0 0 2px #3D6690; /* Adicione um contorno ao label clicado */
                            }

                            select::after {
                                content: '\25BC'; /* Seta para baixo */
                                position: absolute;
                                top: 50%;
                                right: 12px;
                                transform: translateY(-50%);
                                pointer-events: none; /* Não captura eventos do mouse */
                            }

                        }


                    }

                    .container-principal-main-formulario-os{
                        font-family: helvetica;
                        width: 900px;
                        margin-bottom: 10px;

                        input{
                            width: 420px;
                            height: 56px;
                            background-color: #EAEAEA;
                            border-radius: 16px;
                            font-size: 20px;
                        }
                    }


                }

            }

        }


        .dados-botoes{
            display: flex;
            flex-direction: row;
            justify-content:space-around;
            width: 1070px;
            margin-top: 15px;

            button{
                width: 205px;
                height: 67px;
                border-style:none;
                font-family: helvetica;
                font-size: 22px;
                cursor: pointer;
                display: flex;
                flex-direction: row;
                gap: 50px;
                align-items: center;
              }

              button:hover {
                box-shadow: 10px 10px 2px #011e4b;
              }
            .dados-botoes-limpar{

                background-color: #FF000066;
                border-radius: 16px;
            }

            .dados-botoes-confirmar{
                background-color: #44ff009c;
                border-radius: 16px;
            }

        }

    }

}

@media(width <= 1536px) {
  .container{
    margin-left: 150px;
    margin-top: 40px;
  }
}
