<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro de Acesso</title>
</head>
<body>
    <main>
        <section>
        <div class="textos">
            <h1>Seu usuário não tem permissão para acessar essa tela</h1>
            <h4>Volte para a tela inicial ou use um usuário com permissão:</h4>
        </div>
        <div class="botoes">
            <button (click)="home()">
                Tela Incial
            </button>
            <button (click)="sair()">
                Sair
            </button>
        </div>
        </section>
    </main>
</body>
</html>