<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <main>
        <section class="section-rigth">
            <div class="section-rigth-rectangle">
                <div *ngIf="incorrectCredentials" class="alert-danger" role="alert">
                    <div class="alert-danger-rectangle"></div>
                    <div class="alert-danger-text">
                        Informações de login incorretas. Por favor, verifique seu nome de usuário e senha.
                    </div>
                </div>  
                <form [formGroup]="loginForm" class="section-rigth-login" (ngSubmit)="submitLogin()">
                    <div class="section-rigth-login-username">
                        <img src="/assets/user-login.png" alt="Ícone de usuário">
                        <input type="text" placeholder="Username" formControlName="username">
                    </div>
                    <div class="section-rigth-login-password">
                        <img src="/assets/password-login.png" alt="Ícone de senha">
                        <input type="password" placeholder="Password" formControlName="password"> 
                    </div>
                    <button type="submit">Login</button>
                </form>             
            </div> 
        </section>
    </main>
    
</body>
</html>
