<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <app-default-header
    title="Gerenciar Peças"
    
    ></app-default-header>
    <main>
        <app-default-sidebar [userType]="getRole()"></app-default-sidebar>
        <section>
            <div class="table">
                <div class="table__top">
                    <a href="/cadastrar-pecas">
                        <div class="table__top__left">
                            <img src="/assets/cadastra-peca.svg">
                            <p>Cadastrar Peça</p>
                        </div>
                    </a>
                    <a href="/pecas">
                        <div class="table__top__right">
                            <img src="/assets/pecas-cadastradas.svg">
                            <p>Peças Cadastradas</p>
                        </div>
                    </a>
                </div>
                <div class="table__botton">
                    <a href="/alterar-peca">
                        <div class="table__botton__left">
                            <img src="/assets/alterar-peca.svg">
                            <p>Alterar Peça</p>
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </main>
</body>
</html>
